<template>
	<view class="container">
		<view class="login">
			<view class="title">登录</view>
			<input class="uni-input" maxlength="11" @input="onKeyInput" placeholder="请输入手机号" />
			<view type="default" class="button" @click="getIphoneCode">
				{{codeText}}
			</view>
			<view class="bottom">
				<view>未注册的手机号验证后自动注册</view>
				<view>如果您是建行客户,请使用我行的预留手机号登录</view>
			</view>
		</view>  
		<!-- 滑块弹框 -->
		<van-popup :show="show" overlay-style="opacity: 9;" custom-style="width:90%;box-sizing: border-box;padding:10px 15px;">
			<view class="" style="padding-bottom: 10px;box-sizing: border-box;">
				请拖动下方滑块完成拼图
			</view>
			<!-- 滑块-->
			<view class="main" ref="main" :class="{ opcity:sliderCheckS, mainHeight:!getImageS}" style="position: relative;">
				<image v-if="getImageS" :src="'data:image/png;base64,'+sliderData.srcImage" id="backgroundImg" style="width:100%;vertical-align: top;" mode="widthFix"
				 ref="verifyImg">
				</image>
				<view v-if="!getImageS" style="width: 100%;height: 200rpx; text-align: center; line-height: 200rpx; border: 1px solid #bbb8b8;">
					图片加载失败，请刷新图片
				</view>
				<view class="success" v-if="sliderCheckS">
					<!-- <image style="width:52rpx;" :src="baseUrl+'/static/Applets/success.png'" mode="widthFix"></image> -->
					<view class="">
						验证成功
					</view>
				</view>
				<movable-area class="zoom" v-if="getImageS">
					<movable-view :x="x" @touchend="touchend" @change="onChange" direction="horizontal" :style="{width:width}" class="ball">		
						<image mode="widthFix" :src="'data:image/png;base64,'+sliderData.cutImage" :style="{top:top,width:width}" 
						 style="position: absolute;">
						</image>
						<view class="sliderBlock"></view>
					</movable-view>
				</movable-area>
			</view>

			<view class="" style="display: flex;flex-direction:row-reverse">
				<image @click="onClose" :src="baseUrl+'/static/Applets/guanbi-2.png'" mode="widthFix" style="width: 20px;"></image>
				<image @click="getImage" :src="baseUrl+'/static/Applets/shuaxin-2.png'" mode="widthFix" style="width: 20px;margin-right: 20rpx"></image>
			</view>
		</van-popup>
	</view>
</template>
<script>
	import vanPopup from "@/wxcomponents/vant-weapp/popup/index.js"
	import Bus from "@/utils/eventBus.js"
	import {
		mapState,
		mapMutations
	} from 'vuex';
	import Utils from '@/utils/util.js'
	import Data  from "@/utils/DataCenter.js";
	export default {
		data() {
			return {
				baseUrl:Data.getbaseUrl(),
				position: '',
				smallWidth: 0,
				phone: '', //手机号
				show: false,
				code: '', //验证码
				codeText: '获取手机验证码', //倒计时
				source: '',
				backUrl: '',
				value: 0,
				sliderCheckS: false, //滑块验证
				sliderData: {},
				getImageS: false, //判断是否展示滑块和抠图,
				left: 0,
				clientWidth: 0,
				testValue: 10,
				height: 0,
				width: 0,
				sliderVerifyFLag: true,
				top: 0,
				xPosition: 0,
				per: -1,
				x: 0,
				y: 0,
				demo1: {
					x: 0,
					y: 0
				},
				link: "",
				timer:null,
				isClear: true,
				bsnJrnlNo:'',
				targetPage:''
			}
		},
		onLoad:function(e) {
			this.link = e.link;
			if(e.link){
				this.url = JSON.parse(decodeURIComponent(e.link)).url;
				this.params = JSON.parse(decodeURIComponent(e.link)).params
			}
			
			console.log(this.url,this.params ,'generalloginL里面的e')
			const {
				windowWidth
			} = uni.getSystemInfoSync();
			this.clientWidth = windowWidth
			console.log(this.clientWidth, 'this.clientWidth')
		},
		onShow(){
			let currentPage = Utils.getcurrentPage()
			console.log(currentPage,'currentPage====')
			if(currentPage.options){
				this.bsnJrnlNo  = currentPage.options.bsnJrnlNo
				this.targetPage  = decodeURIComponent(currentPage.options.targetPage)
				console.log(this.bsnJrnlNo,this.targetPage,'获取generalLogin当前页面的参数')
			}
		},
		computed: {
			...mapState(['num', 'userdata'])
		},
		components: {
			vanPopup,
		},
		watch:{
			num(){
				if (this.num == 60 | this.num <=0) {
					this.codeText = "重新获取验证码";
					this.$store.commit("changeState", {
						key: "num",
						value: 60
					})
					if(this.isClear) {
						Bus.$emit('setTime', true)
					}
				} else {
					this.codeText = '重新获取' + this.num + "s" + '后';
				}
			}
		},
		onUnload:function(){
			if(this.isClear) {
				Bus.$emit('setTime', true)
			}
		},
		methods: {
			onClose: function() {
				this.show = false;
				this.sliderCheckS = false;
			},
			reset: function() {
				console.log("=========")
				this.x = this.demo1.x
				this.$nextTick(() => {
					this.x = 0
				})
			},
			// 获取滑块图片
			getImage: function() {
				console.log(this.sliderCheckS, '获取滑块图片')
				if (this.sliderCheckS) {
					return
				}
				this.reset()
				let data = {
					"chnlId": "10030003",
					"chnlToken": this.userdata.token
				}
				console.log(this.userdata, 'userdata')
				this.http('/user/slideVerifyImgGet', data, 'POST').then(res => {
					console.log(res, '获取图片接口返回')
					if (!Utils.isBlank(res["C-Response-Body"].respBodyCom)) {
						this.sliderData = res["C-Response-Body"].respBodyCom
						console.log(this.sliderData, 'sliderData')
						this.$nextTick(() => {
								this.value = 8;
								this.left = 0;
								// 计算手机抠图距离图片顶部的距离 
								this.top = -((1 - this.sliderData.yPosition / this.sliderData.srcImageHeight) * (((this.clientWidth * 0.9) -
									30) / 2.5) +11) + 'px';
								console.log(this.top, 'top')
								// 计算抠图的大小
								console.log(this.clientWidth, 'clientWidth')
								this.width = (100 / Number(this.sliderData.srcImageWidth) * ((this.clientWidth * 0.9) - 30)) + "px";
								console.log(this.width, 'width')
							}),
							this.getImageS = true;
					}
				})
			},
			// 滑块停止事件
			touchend: function(event) {
				let data = {
					chnlId: "10030003",
					chnlToken: this.sliderData.chnlToken,
					xPosition: this.xPosition +'',
					ratio: (((this.clientWidth * 0.9) - 30 ) / this.sliderData.srcImageWidth).toFixed(2),
				}
				this.http('/user/slideVerifyImgCheck', data, 'POST').then(res => {
					console.log(res, '滑块停止之后返回')
					if (res["C-API-Status"] == "00") {
						console.log('滑块停止之后返回11111')
						this.sliderCheckS = true;
						this.show = false;
						this.sliderCheckS = false;
						this.isClear = false
						this.getCode()
						uni.redirectTo({
							url: "/pagesA/login/code?id="+ this.phone + "&link=" + this.link + "&Token=" + this.sliderData.chnlToken
							+ "&targetPage=" + this.targetPage + "&bsnJrnlNo=" + this.bsnJrnlNo
						})
					} else {
						uni.showToast({
							title: '请控制图块对准缺口',
							icon: 'none',
							duration: 4000
						});
						this.reset()
						return
					}
				})
			},
			// 抠图移动事件
			onChange: function(e) {
				this.demo1.x = e.detail.x
				this.xPosition = e.detail.x
			},
			getIphoneCode: function() {
				if(this.num<60&&this.num>0){
					return
				}
				if(this.codeText=="重新获取验证码"){
					this.$store.commit("changeState", {
						key: "num",
						value: 60
					})
				}
				if(this.checkPhone(this.phone)) {
					uni.showToast({
						title: '手机号格式错误',
						icon:'none'
					});
					return 
				};
				this.show = true
				this.getImage()
			},
			onKeyInput: function(event) {
				this.phone = event.target.value
			},
			//获取验证码
			getCode: function() {
				Bus.$emit('setTime', false)
				let sendCode = {
					toknCtfnId:this.phone, //令牌认证编号（手机号）
					toknMnpltCd:"0",
					messageCode:"2",
					chnlToken: this.sliderData.chnlToken,
				};
				this.http('/auxiliary/get_code', sendCode, 'POST').then(res => {
					console.log(res,'登录接口返回')
				    if (res["C-API-Status"] == "00") {
						uni.showToast({
							title: '验证码发送成功',
							duration: 4000,
							icon: 'none'
						})				
					}else{
						this.codeText = "重新获取验证码";
						if(this.isClear) {
							Bus.$emit('setTime', true)
						}
					}
				})
			
			},
			// 验证手机号
			checkPhone: function(num) {
				let reg = /^1[3-9]\d{9}$/;
				if (!reg.test(num)) {
					uni.showToast({
						title: '手机号格式错误',
					});
					return true;
				};
			},

		}
	}
</script>

<style scoped>
	.mainHeight{
		height: 240rpx;
	}
	.opcity{
		opacity: .7;
	}
	.success {
		position: absolute;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0.5;
		top: 82rpx;
		left: 202rpx;
		font-size: 32rpx;
		color: #ffffff;
	}

	.sliderBlock {
		width: 60px;
		height: 30px;
		position: absolute;
		bottom: -27rpx;
		left: -30rpx;
		background: url(../static/dragBlock.png) no-repeat;
	}

	.page {
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.zoom {
		width: 100%;
		height: 38rpx;
		background-color: #339DF1;
		border-radius: 64rpx;
		margin: 20rpx 0;
	}


	.slider {
		width: 80%;
		height: 800rpx;
		border: 2rpx solid red;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.login {
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.uni-input {
		height: 70rpx;
		width: 100%;
		margin-top: 201rpx;
		border-bottom: 2rpx solid #E2E5EE;
	}

	.title {
		font-size: 48rpx;
		font-weight: 600;
		color: #3A435E;
		margin-top: 180rpx;
	}

	.button {
		width: 100%;
		border-radius: 8rpx;
		color: #ffffff;
		margin-top: 100rpx;
		text-align: center;

		height: 88rpx;
		line-height: 88rpx;
		background: #339DF1;
		border-radius: 8rpx;
	}

	.bottom {
		color: #BDC2D2;
		font-size: 24rpx;
		position: absolute;
		bottom: 100rpx;
		width: 100%;
	}

	.text {
		color: #339DF1;
	}
</style>
